*.swp
*.swo
*.pyc
~*
*.dat
*.data
*.o
*.so
temp/*
*.tmp
*.lprof
*.pickle
*.png
*.tape
.ropeproject/*
materials/*
run-heisbg/*
run-heisbg-NNN/*
run_ising/*
!run_ising/run.py
run-potts/*
tmp/*
*.bac
*.back
*.out
*.ipynb
*.html
lib/*
archive/*
document/*

